mat-form-field {
  width: 100%;
}

mat-form-field:not(:first-child) {
  margin-bottom: 10px;
}

img {
  margin: 0 5px 10px;
  object-fit: contain;
  height: 100px;
}
mat-icon {
  margin-right: 10px;
}
