<mat-card *ngIf="dataFetched && error.status">
  <h2 class="color-danger">
    Something went wrong!!! <br />
    Refresh the page again
  </h2>
  <button
    style="display: block; margin: 0 auto"
    class="refresh-button"
    mat-fab
    color="primary"
    aria-label="Refresh"
    type="button"
    (click)="onFetch()"
  >
    <mat-icon>refresh</mat-icon>
  </button>
</mat-card>

<div class="spinner" *ngIf="!dataFetched">
  <mat-spinner color="primary"></mat-spinner>
  <h2>Loading...</h2>
</div>

<div class="basic-container" *ngIf="!error.status && dataFetched">
  <span *ngFor="let item of navItems">
    <!-- Handle branch node buttons here -->
    <span *ngIf="item.children && item.children.length > 0">
      <button
        class="timezone-button"
        mat-raised-button
        color="primary"
        [matMenuTriggerFor]="menu.childMenu"
      >
        {{ item.displayName }}
        <mat-icon>expand_more</mat-icon>
      </button>
      <app-menu-item #menu [items]="item.children"></app-menu-item>
    </span>
    <span *ngIf="!item.children || item.children.length === 0">
      <button
        mat-button
        color="primary"
        [routerLink]="this.formatPath(item.route)"
      >
        {{ item.displayName }}
      </button>
    </span>
  </span>
  <button
    class="refresh-button"
    mat-fab
    color="primary"
    aria-label="Refresh"
    type="button"
    (click)="onFetch()"
  >
    <mat-icon>refresh</mat-icon>
  </button>
</div>
