mat-card {
  height: 500px;
  padding: 0;
}
h3 {
  margin-bottom: 0;
}
.time-title {
  text-align: center;
  margin-top: 16px;
}
.text-center {
  text-align: center;
}
.back-button {
  margin: 8px 16px;
}
.refresh-button {
  margin: 8px 48px;
}
.topBar-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  position: relative;
}

.hero:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://st2.depositphotos.com/1041725/45441/v/380/depositphotos_454417092-stock-illustration-purple-alarm-clock-illustration-vector.jpg");
  background-size: cover;
  background-position-x: 150px;
  background-position-y: 100px;
  background-repeat: no-repeat;
  background-attachment: center;
  opacity: 0.2;
}

mat-spinner {
  display: block;
  margin: 20px auto;
  z-index: 100;
}
.color-danger {
  color: red;
}
mat-card > mat-card {
  h2 {
    text-align: center;
  }
  padding: 25px;
  height: auto;
}
