img {
  object-fit: contain;
  height: 250px;
  width: 170px;
  margin-bottom: 10px;
}
h2 {
  font-weight: 400;
  text-align: center;
}

.sticky {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 150px; /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  margin-top: 50%;
}
.mat-card-header {
  justify-content: center;
}
.mat-card-header-text {
  text-align: center;
}
