img {
  object-fit: contain;
  height: 350px;
  width: 250px;
  margin: 20px 0;
}
h2 {
  font-weight: 400;
  text-align: center;
}

.sticky {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
