<mat-card fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
  <img
    mat-card-lg-image
    src="https://images-na.ssl-images-amazon.com/images/I/51LCJlg5oFS._SX331_BO1,204,203,200_.jpg"
    alt=""
  />
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="5px"
    fxFlex="1 1 auto"
  >
    <mat-card-header>
      <mat-card-title> <h1>Shadow And Bone</h1></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <h2><b>Author:</b> Leigh Bardugo</h2>

      <h2><b>Genre:</b> Fantasy</h2>

      <h2><b>Publication Date:</b> May 7, 2013</h2>

      <h2><b>ISBN: </b> 1250027438</h2>
    </mat-card-content>
  </div>
</mat-card>
