<div class="container">
  <mat-spinner *ngIf="isLoading"> </mat-spinner>

  <mat-card *ngIf="!isLoading">
    <mat-card-title>
      <h1>{{ isLoginMode ? "User Login" : "Sign Up" }}</h1>
    </mat-card-title>
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" name="email" matInput formControlName="email" />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="this.authForm.controls.email.invalid"
            >You must enter a valid email address</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password"
            name="password"
            minlength="6"
            matInput
            formControlName="password"
          />
          <mat-icon matSuffix>password</mat-icon>
          <mat-hint *ngIf="!authForm.controls.password.touched"
            >Your password must be at least 6 character</mat-hint
          >
          <mat-error *ngIf="this.authForm.controls.password.invalid"
            >Your password must be at least 6 character</mat-error
          >
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
      >
        <button
          [disabled]="!authForm.valid"
          mat-raised-button
          color="primary"
          type="submit"
        >
          <mat-icon>{{ isLoginMode ? "login" : "create" }}</mat-icon
          ><span>{{ isLoginMode ? "Log In" : "Sign Up" }}</span>
        </button>

        <button
          (click)="onSwitchMode()"
          mat-raised-button
          color="accent"
          type="button"
        >
          <mat-icon class="material-icons-outlined">change_circle</mat-icon>
          <span>Switch to {{ !isLoginMode ? "Log In" : "Sign Up" }}</span>
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
