:host {
  background-color: #fff;
  :hover {
    cursor: pointer;
  }
}
.active {
  background-color: #d7cdeb;
}

mat-card {
  margin-bottom: 15px;
}

mat-card-content {
}

img {
  margin: 0;
  width: 100px;
  object-fit: contain;
}

h3:last-of-type {
  margin: 0;
}
h2,
h1 {
  text-align: center;
}
.card-actions {
  opacity: 0 !important;
  z-index: -1;
}

.active .card-actions {
  opacity: 1 !important;
  z-index: 1;
}
