<mat-card
  [routerLink]="[index]"
  routerLinkActive="active"
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="5px"
>
  <img
    mat-card-image
    src="{{ book.imgPath }}"
    alt="{{ book.title }}"
    (error)="updateUrl($event)"
  />
  <mat-card-header
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="5px"
    fxFlex="1 1 auto"
  >
    <mat-card-title>
      <h1>{{ book.title }}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2><b>Author:</b> {{ book.author }}</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions
    class="card-actions"
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="10px"
  >
    <button
      mat-fab
      (click)="onEditBook($event)"
      color="accent"
      aria-label="delete"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="onDeleteBook()" mat-fab color="warn" aria-label="edit">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
